.card {
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	align-content: flex-start;
    text-decoration: none !important;
}
.my-movie-card {
    color: white;
}

.my-movie-card:hover {
    box-shadow: 0px 0px 20px 7px white;
    text-decoration: none ;
}
.card-body {
    background-color: grey;
    color: white;
    text-decoration: none;
} 
.card-body h6 {
    color: white;
}

.card img {
    border-radius: inherit;
    height: 25.5rem;
}

.movie-cover {
    cursor: pointer;
}
.movie-cover:hover {
    box-shadow: 0px 0px 20px 7px white;
}

.more-details-button {
    display:flex;
    margin-right: auto;
    border-radius: .25rem;
    background-color: #b6b6b6;
    color: white;
}

.more-details-button:hover{
    transform: scale(1.1);
}

.card-nav-link {
    text-decoration: none !important;
    color: white;
}
.card-nav-link:hover {
    text-decoration:none;
    color: white;
}

.card-body h6 {
    color: white;
}

.more-details-nav-link {
    text-decoration: none;
    color: white !important;
}
