.edit-movie-title {
        display: flex;
        justify-content: center;
        padding: 10px;
        font-size: 3rem;
        color: var(--first-color);
}

.update-button {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: .25rem;
    border: 1px solid white;
    background-color: #63B7DB;
    color: white;
    scale:calc(1.1)
}

.update-button:hover {
    transform: scale(1.1);
    background-color: #1ca6e2;
    box-shadow: 0px 0px 2px white;
}