.show-container {
    height: 35rem;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.show-container img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 35%;
}

.show-container h6 {
    justify-content: center;
    display: flex;
    align-items: center;

}

.show-container p {
    display: flex;
    justify-content: center;
}

.show-info {
    background-color: #2E3C63;
    height: 30%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    padding: 10px;
    overflow: auto;
}
.show-info h2 {
    display: flex;
    justify-content: center;
}


.show-info-line {
    display: flex;
    justify-content: space-between;
}

.see-all-button {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: .25rem;
    border: 1px solid white;
    background-color: #63B7DB;
    color: white;
    scale:calc(1.1)
}

.see-all-button:hover{
    transform: scale(1.1);
    box-shadow: white 0 1px;
}

.edit-movie-button {
    display: flex;
    border-radius: .25rem;
    border: 1px solid white;
    background-color: #63B7DB;
    color: white;
    scale:calc(1.1)
}

.edit-movie-button:hover{
    transform: scale(1.1);
    box-shadow: white 0 1px;
}
.delete-movie-button {
    display: flex;
    border-radius: .25rem;
    border: 1px solid white;
    background-color: #63B7DB;
    color: white;
    scale:calc(1.1)
}

.delete-movie-button:hover{
    transform: scale(1.1);
    box-shadow: white 0 1px;
}
.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.card-subtitle {
    color: white !important;
}